/* 修改图标大小 */
.fa-github:before {
  content: "\f09b";
}

.fa-github:before {
  content: "\f09b";
  /* 修改颜色 */
  color: #4eabe9;
}

.fa-envelope:before {
  content: "\f0e0";
  /* 修改颜色 */
  color: #ecc849;
}

.fa-weibo:before {
  content: "\f18a";
  /* 修改颜色 */
  color: #e32428;
}

.icon-bilibili:before {
  content: "\e647";
  /* 修改颜色 */
  color: #00a5dc;
  /* 修改大小 */
  font-size: 19px;
}

.icon-quanminkge:before {
  content: "\e970";
  /* 修改颜色 */
  color: #f05549;
  /* 修改大小 */
  font-size: 19px;
}
