/* 修改图标颜色、大小 */
.fa-github:before {
  content: "\f09b";
}

.fa-github:before {
  content: "\f09b";
  /* 修改颜色 */
  color: #4eabe9;
}

.fa-envelope:before {
  content: "\f0e0";
  /* 修改颜色 */
  color: #ecc849;
}

.fa-weibo:before {
  content: "\f18a";
  /* 修改颜色 */
  color: #e32428;
}

.icon-bilibili:before {
  content: "\e647";
  /* 修改颜色 */
  color: #00a5dc;
  /* 修改大小 */
  font-size: 19px;
}

.icon-quanminkge:before {
  content: "\e970";
  /* 修改颜色 */
  color: #f05549;
  /* 修改大小 */
  font-size: 19px;
}

.icon-earth:before {
  content: "\e62e";
  /* 修改大小 */
  font-size: 19px;
}

/*移动端优化：去除归档、标签、最新文章、公告、网站统计（:not(:last-child)）*/
@media screen and (max-width: 800px) {
  #aside_content div {
    display: none;
    font-size: 13px;
  }
}

/* 鼠标图标 开始************/
body {
  cursor: url(https://cdn.jsdelivr.net/gh/hassanblog/CDN/img/cursor.png),
    default !important;
}

/*a标签*/

a:hover {
  cursor: url(https://cdn.jsdelivr.net/gh/hassanblog/CDN/img/cursor_puppy.png),
    pointer !important;
}

/*按钮*/

button:hover {
  cursor: url(https://cdn.jsdelivr.net/gh/hassanblog/CDN/img/cursor_puppy.png),
    pointer !important;
}

/*i标签*/

i:hover {
  cursor: url(https://cdn.jsdelivr.net/gh/hassanblog/CDN/img/cursor_stitch.png),
    pointer !important;
}

/*页脚a标签*/

#footer-wrap a:hover {
  text-decoration: none;
  cursor: url(https://cdn.jsdelivr.net/gh/hassanblog/CDN/img/cursor_stitch.png),
    pointer !important;
}

/*分页器*/

#pagination .page-number:hover {
  cursor: url(https://cdn.jsdelivr.net/gh/hassanblog/CDN/img/cursor_stitch.png),
    pointer !important;
}

/*头部的导航栏*/

#nav .site-page:hover {
  cursor: url(https://cdn.jsdelivr.net/gh/hassanblog/CDN/img/cursor_puppy.png),
    pointer !important;
}
/* 鼠标图标 结束**********/

